body{
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 80px;
}

.navbar {
    text-transform: uppercase;
}

.nav-link{
    font-size: 1.2rem;
}

.jumbotron{
    background-color: #fff;
}


#upload-btn {
    position: relative;
    overflow: hidden;
}

#upload-btn:hover{
    cursor: pointer;
}

#upload-file-info {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

a:hover{
    text-decoration: none;
}

#middle-nav .nav-tabs li > a {
    text-transform: capitalize;
    color: rgb(33, 37, 41);
    transition: rgb(33, 37, 41) 0.2s, rgb(29, 33, 36) 0.2s;
    font-size: 1.4rem;
    display: inline-block;
}

#middle-nav .nav-tabs li > a:hover, #middle-nav .nav-tabs li > a:focus {
    background-color: rgb(233, 233, 233);
    color: rgb(33, 37, 41);
}

#middle-nav .nav-tabs li.active > a {
    background-color: rgb(233, 233, 233);
    color: rgb(33, 37, 41);
}
  

#btn-clr{
    background:rgb(33, 37, 41);
}


.form-group{
  margin-top: 30px;
  font-size: 1.2rem;
}

.card-title{
  margin:10.5px;
}

[type=radio] { 
  position: absolute;
  font-size: 50px;
  opacity: 0;
  top: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  opacity: 0.33; /* Webkit Nightlies & Chrome Canary */
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  filter: none;
  opacity: 1;
  -webkit-transition: all .8s ease-in-out;  
}

.style {
    padding: 6px;
    width: 180px;
}

.card {
    border: none;
}

h5 {
    font-weight:500;
}

.generator-form .generator{
    margin-right: 90%;
    margin-top: 25%;
    margin-bottom: 7%;
    font-weight: 600;   
}

