.logo {
    width: 80px;
}

.navbar {
    opacity: 0.9;
    text-transform: uppercase;
}

.nav-link{
    font-size: 1.2rem;
}

.jumbotron{
    background-color: #fff;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

